.movie-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .movie-card__img-container {
    flex: 1;
  }
  
  .movie-card__img {
    width: 100%;
    /* height: 50vh; */
    object-fit: cover;
    cursor: pointer;
  }
  
  .movie-card__content {
    padding: 16px;
  }
  
  .movie-card__title {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .movie-card__release-date {
    margin: 0;
    font-size: 16px;
    color: #999;
  }
  